.Container{
    height: 30%;
    background-color: antiquewhite;
    display: block;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.List{
    height: 70px;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.5%;
}

.Link{
    text-decoration: none;
    color: black;
    font-size: larger;

}
.Link:hover{
    color: black;
}

.MyIcon{
    font-size: 2em;
}

.Hamburger{
    width: 8%;
    padding: 0.1%;
    height: 32px;
    margin-bottom: -15px;
  }

  .sidebar {
    overflow: auto;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -23rem;
    width: 23rem;
    transition: 0.4s ease;
    color: #000000;
    height: 100%;
    z-index: 99;
  }
  
  .background{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    z-index: 90;
  
  }