
.slick-slide, .slick-active, .slick-current{
  margin: 0 5px 0 0 ;

}

.slick-slider{
  padding: 2% 6% 0 10%;
}


.slick-prev:before, .slick-next:before{
  color: black;
  font-size: 70px;
}

.slick-prev{
  margin-top: -5%;
  left: -10px;
}


.slick-next{
  margin-top: -5%;
  right: 40px;
}

.slick-dots{
  bottom: 18%;
  justify-content: center;
  max-width:1200px;
}
@media ( max-width: 20px){
  .slick-slider{
    padding: 2% 0 0 0;
  }
}