@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Poor+Story&display=swap');
*{
  font-family: 'Gowun Dodum', sans-serif;
}

.App {
  text-align: center;
}

.Container{
  padding: 3%;
}

.Search{
  width: 30%;
  margin-bottom: 2%;
}

.Btn{
  margin-bottom: 6%;
  width: 30%;
  height: 50px;
  background-color: #06A77D;
  border: #06A77D;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.Btn:hover{
  margin-bottom: 6%;
  width: 30%;
  height: 50px;
  background-color: #06A77D;
  border: #06A77D;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.Img{
  width: 68% !important;
  object-fit: contain;
}
