.ListForm{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.List{
    float: left;
    margin-right: 1%;
    list-style-type: none;
    font-size: 1.3em;
    font-weight: bold;
}
.search{
    margin-top: 10px;
    margin-left: 30vw;
    margin-bottom: 10px;
    width: 40vw;
}

.register_content_table{
    margin-left:10vw;
    margin-bottom: 10px;
    width:80vw;
    overflow: scroll;
    border: solid black 1px;
}

.register_content{
    width: 65vw;
    height: 100px;
}

.register_button{

    border: none;
    background-color:rosybrown;
    color:black;
    width: 90px;
    height: 80px;
}

.show_content{
    margin-left: 10vw;
    width: 80vw;
    border: solid black 1px;

}

.show_contentList{
    margin-left: 10vw;
    width: 80vw;
    border: solid black 1px;
    margin-top: 0.5%;
}