.Container{
    height: 60%;
    background-color: #052F5F;
    display: block;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.List{
    height: 85px;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.8%;

}

.Link{
    text-decoration: none;
    color: #F1A208;
    font-size: 1.5em;
    font-weight: bold;

}
.Link:hover{
    color: #D5C67A;
}

.MyIcon{
    font-size: 1.9em;
    margin-top: -3px;
}

.Hamburger{
    width: 0;
    padding: 0;
    margin-bottom: -15px;
    display: none;
    margin-right: -20px;
  }

  .sidebar {
    overflow: auto;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -23rem;
    width: 23rem;
    transition: 0.4s ease;
    color: #000000;
    height: 100%;
    z-index: 99;
  }

  .background{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    z-index: 90;

  }

  @media screen and (max-width:760px) {
    .Hamburger{
        width: 50%;
        padding: 0.1%;
        height: 50px;
        margin-bottom: -15px;
        display: inline;
      }
  }