.Container{
    width: 100%;
    height: 100%;
}

.IdWrap{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.PasswordWrap{
    margin: 0 auto;
    margin-bottom: 7%;
}
.FormWrap{
    padding: 4%;
}
.Id{
    margin-left: 15%;
    margin-right: 2%;
    color: #D5C67A;
}

.Password{
    margin-left: 15%;
    margin-right: 2%;
    color: #D5C67A;
}

.Input{
    width: 70%;
    margin: auto;
    border: 3px solid #D5C67A;
    padding: 1.2%;
}
.InputIDWrap{
    width: 70%;
    margin: auto;
}
.InputID{
    width: 70%;
    margin: auto;
    border: 3px solid #D5C67A;
    padding: 1.5%;
}
.Default{
    width: 30%;
    padding: 1.2%;
    border-bottom: 3px solid #D5C67A;
    border-top: 3px solid #D5C67A;;
    border-right: 3px solid #D5C67A;
}

.DefaultText{
    width: 100%;
    text-align:center;
    font-size: large;
    font-weight: bold;
}

.LoginForm{
    width: 48%;
    margin: auto;
    margin-top: 9%;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(5, 47, 95, 0.3);
    background-color: rgba(5, 47, 95, 1);
}

.SignUp{
    text-align: center;
    margin-top: 2%;

}

.Btn{
    margin-left: 30%;
    width: 40%;
    background-color: #06A77D;
    border: #06A77D;
}

.Btn:hover{
    margin-left: 30%;
    width: 40%;
    background-color: #06A77D;
    border: #06A77D;
}

.Link{
    text-decoration: none;
    color: black;
    font-size: larger;
}
.Link:hover{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.FalseEmail{
    font-size: medium;
    color: white;
    margin-top: 1%;
    margin-left: 15%;
  }

  .Icon{
    margin-right: 5px;
  }

  .Logo{
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
    color: #F1A208;
    font-weight: bolder;
  }

  .LinkSignUp{
    color: #06A77D;
  }

  .LinkSignUp:hover{
    color: #06A77D;
  }