.Container{
    width: 100%;
    height: 100%;
}

.IdWrap{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.PasswordWrap{
    margin: 0 auto;
    margin-bottom: 7%;
}
.FormWrap{
    padding: 4%;
}
.Id{
    margin-left: 15%;
    margin-right: 2%;
    color: #D5C67A;
}

.Password{
    margin-left: 15%;
    margin-right: 2%;
    color: #D5C67A;
}

.Input{
    width: 70%;
    margin: auto;
}

.LoginForm{
    width: 40%;
    margin: auto;
    margin-top: 11%;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgba(5, 47, 95, 0.3);
    background-color: rgba(5, 47, 95, 1);
}

.SignUp{
    text-align: center;
    margin-top: 2%;

}

.Btn{
    margin-left: 30%;
    width: 40%;
    background-color: #06A77D;
    border: #06A77D;
}

.Btn:hover{
    margin-left: 30%;
    width: 40%;
    background-color: #06A77D;
    border: #06A77D;
}

.Link{
    text-decoration: none;
    color: black;
    font-size: larger;
}
.Link:hover{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.FalseEmail{
    font-size: medium;
    color: red;
    margin-top: 1%;
    margin-left: 15%;
  }

  .Icon{
    margin-right: 5px;
  }

  .Logo{
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
    color: #F1A208;
  }

  .LinkSignUp{
    color: #06A77D;
  }