.Modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .CloseX {
    outline: none;
    background-color: #052F5F;
    cursor: pointer;
    border: 0;
    font-size: 4em;
    margin-right: 5%;
    color:#F1A208;

  }

  .Title{
    float: left;
    font-weight: bolder;
    font-size: 2em;
    margin: 5% 0 0 5%;
}

  .TitleWrap{
    background-color: #052F5F;
    text-align: right;
    color: #F1A208;
    padding: 1.5%;
    vertical-align: middle;
    margin-bottom: -2%;
  }

  .ContainerSmall {
    width: 45%;
    height: 80%;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #052F5F;
    animation: modal-show 0.3s;
    overflow: auto;
    margin-top: 6%;

  }

  .Content{
    background-color: #052F5F;
    text-align: center;
    margin-bottom: 5%;
    font-size: medium;
    color: black;
    line-height: 13px;
    padding: 4%;
  }

.OpenModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);

}
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.Tag{
    font-size: 1.8em;
    margin-top: 6%;
}

.TagContent{
    font-weight: bold;
    margin-left: 1.5%;
    font-size: large;
    vertical-align: bottom;
}


.Rating {
    display: inline-flex;
    margin-right: 5px;
  }

  .RatingWrap{
    align-items: center;
    width: 100%;
  }

  .RateTitle{
    font-size: larger;
    font-weight: bolder;
  }

  .RateWrap{
    text-align: left;
    margin-top: 2%;
  }

  .ReviewWrap{
    padding-left: 6%;
    margin-top: 2%;
  }

  .Btn{
    margin-left: 2%;
    width: 10%;
    font-weight: bold;
  }

  .ReviewModal{
    height: 100%;
  }

  .ReviewRate{
    text-align: center;
    margin-top: 4%;
  }

  .ReviewInput{
    margin-top: 5%;
    height: 100%;
  }


  .TagBtn{
    margin-top: 4%;
    width: 100%;
    color: black;
    margin-bottom: 4%;
    background-color: white;
    border: 1px solid rgba(5, 47, 95, 0.3);
  }
  .TagBtnOn{
    margin-top: 4%;
    width: 100%;
    background-color: #D5C67A;
    border: #D5C67A;
    color: black;
    margin-bottom: 4%;
  }
  .TagBtnOn:hover{
    background-color: #D5C67A;
    color: black;
   }

  .TagBtn:hover{
   background-color: lightblue;
   color: black;
  }

  .TagContentReview{
    font-weight: bold;
    margin-left: 1.5%;
    font-size: large;
    vertical-align: middle;
}

.TagReview{
    font-size: 1.8em;
    margin-top: 4%;
}

.ResBtn{
    margin-top: 5%;
    width: 45%;
    font-weight: bold;
    font-size: large;
    background-color: #06A77D;
    border: #06A77D;
    height: 40%;
    color: black;
}
.ResBtn:hover{
  margin-top: 5%;
  width: 45%;
  font-weight: bold;
  font-size: large;
  background-color: #06A77D;
  border: #06A77D;
  height: 40%;
  color: black;
}

