.Container{

    overflow-x: auto;
    height: 100%;
}

.LeftContainer{
    min-width: 300px;
    height: 100%;
    border-right: 1px ridge #052F5F;
    background-color: #052F5F;
    float: left;
}

.RightContainer{
    width:100%;
}

.Intro{
    align-items: center;
    margin: 0 auto;
    height: 100%;
    border-bottom: 1px ridge #052F5F;
    color: #052F5F;
    background-color: white;

}

.MyIcon{
    font-size: 6em;
    margin-top: 7%;
    margin-left: 100px;
}

.MyIcon:hover{
    cursor: pointer;
}

.Nickname{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 123px;
    margin-bottom: 9%;
}

.Writed{
    font-size: larger;
    padding-top: 4%;
    margin-left: 50px;
    color:#F1A208;

}

.WritedWrap{
    height: 400px;
    margin: 4% 0 10% 0;
    padding-top: 20%;
}

.Writed:hover{
    cursor: pointer;
    color:#D5C67A;
}

.EmailContainer{
    display: flex;
    flex-direction: row;
}

.EmailLeft{
    text-align: center;
    width: 30%;
    height: 100px;
    padding-top: 42px;
    background-color: #e8eef7;
}

.EmailRight{
    padding-left: 30px;
    padding-top: 35px;
}

.KwIdWrap{
    display: flex;
    flex-direction: row;
}

.KwId{
    text-align: center;
    width: 30%;
    height: 100px;
    padding-top: 42px;
    background-color: #e8eef7;
}

.Input{
    width: 45vw;
    height: 40px;
    margin-top: 35px;
}

.Btn{
    width: 130px;
    height: 40px;
    margin-top: 35px;
}

.Line{
    margin-top: -1px;
    margin-bottom: 0px;
}

.Line2{
    margin-top: -8px;
    margin-bottom: 0px;
}

.ListTitle{
    text-align: center;
    font-size: 30px;
}

.ListContent{
    display: flex;
    flex-direction: column;
}

.BottomTitle{
    margin-top: -10px;
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #9bbda4;
    height: 55px;
    z-index: 1;
}

.CommentLine{
    margin-top: -16px;
    margin-bottom: 0px;
    background-color: #e8f7ef;
}

.CommentCLine{
    margin-left: 30px;
}

.CommentHeader{
    margin-left: 50px;
    display: flex;
}

.NicknameSecond{
    font-size: 18px;
}

.CommentDate{
    margin-top: 10px;
    margin-left: 8px;
    font-size:10px;
}


.CommentContent{
    margin-left: 60px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.imageHandler{
    min-height: 260px;
    max-height: 260px;
    min-width: 260px;
    max-width: 260px;
}