
.slick-slide, .slick-active, .slick-current{
  margin: 0 5px 0 0 ;

}

.slick-slider{
  padding: 2% 6% 0 10%;
}


.slick-prev:before, .slick-next:before{
  color: black;
  font-size: 70px;
}
.slick-slider, .slick-initialized, .slick-list{
  height: 540px;
}

.slick-prev{
  margin-top: -13%;
  left: -10px;
}


.slick-next{
  margin-top: -13%;
  right: 40px;
}

.slick-dots{
  margin-bottom: 5%;
  justify-content: center;
  margin-left: -8%;
}


@media ( max-width: 20px){
  .slick-slider{
    padding: 2% 0 0 0;
  }
}